@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body{
    font-family: "Space Grotesk", sans-serif;
}

.trandshado{
    box-shadow: 0px 3px 21px 0px #0000001A;

}
.trandbox{
    box-shadow: 0px 7px 21px 0px #0000000D;
}
.selecter{
    border-radius: 50px !important;
}
 
.shados{
    box-shadow: 0px 7px 21px 0px #0000000D;
}

.heighttset{
    height: calc(100vh  - 115px);
}

::-webkit-scrollbar{
    width: 7px;
    background-color: aliceblue;
}
::-webkit-scrollbar-thumb{
    background-color: green;
    width: 7px;
    border-radius: 50px;
}